[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "==2.15.5"
autopep8 = "==2.0.0"
django = "==4.1.3"
djangorestframework = "==3.14.0"
django-cors-headers = "*"
pylint-django = "==2.5.3"

[dev-packages]

[requires]
python_version = "*"
